<div class="container">
  <div class="jumbotron">
  <h1>Welcome to Movie Vault<h1>
    <p>Don't lose your favorite or must see movies. Save them to watch again or watch later.</p>

    <div class="container">
        <%= link_to "Log In", "#", class: "btn btn-primary" %> |
        <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
